In [1]:
import pandas as pd

In [2]:
data = {'Nombre':[], 'Precio':[]}

In [3]:
data['Nombre'].append('TV')
data['Precio'].append(2000)

In [4]:
data

{'Nombre': ['TV'], 'Precio': [2000]}

In [5]:
df = pd.DataFrame(data)

df

  Nombre  Precio
0     TV    2000

5